.weatherBg{
  background: url("/Users/Pramisha/Downloads/weather.jpg");
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
}
.heading{
  color:white;
}
.weatherResultBox{
  margin: auto;
  width: 500px;
  height: 450px;
  padding: 10px;
  top: 10%;
  background-color: rgb(201, 206, 204);
}
.body{
  background-color: rgb(192, 248, 229);
}
.pic{
  height: 250px;
  width: 60%;
  text-align: center;
  align-items: center;

}
.weathertemperature{
  color:rgb(10, 10, 10);
}
.weathercity{
  color: rgb(14, 1, 1);
}